@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: var(--ctp-mocha-text);
  background-color: var(--ctp-mocha-base);
}

input {
  margin: 5px;
  padding: 10px;
  border: 1px solid var(--ctp-mocha-surface0);
  background-color: var(--ctp-mocha-mantle);
  color: var(--ctp-mocha-text);
}

button {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: var(--ctp-mocha-green);
  color: var(--ctp-mocha-base);
  cursor: pointer;
}

.result {
  margin-top: 20px;
  font-size: 1.5rem;
  color: var(--ctp-mocha-green);
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  border: 2px solid var(--ctp-mocha-surface0);
  background-color: var(--ctp-mocha-crust);
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ctp-mocha-mantle);
  color: var(--ctp-mocha-green);
  font-size: 2rem;
  cursor: pointer;
  border: 1px solid var(--ctp-mocha-surface0);
}
