* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

header,
section {
  padding-left: 150px;
  padding-right: 150px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

div.header-logo {
  margin-top: 20px;
}

nav.header-links {
  display: flex;
  justify-content: space-between;
}

nav.header-links > a {
  font-size: 18px;
  padding: 10px;
  color: white;
  text-decoration: none;
}

header,
section.hero {
  background-color: #1f2937;
  color: white;
}

section.hero {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}

section.hero > div.hero-left {
  width: 50%;
  padding-right: 40px;
}

div.hero-left > h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

div.hero-left > h1,
div.hero-left > p {
  margin-bottom: 10px;
}

div.hero-left > p {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 300;
}

div.hero-left > button {
  padding: 7px 35px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  background-color: #3882f6;
  color: white;
}

section.random-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

section.random-info > h1 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  padding: 50px 0;
}

div.info-boxes {
  display: flex;
  justify-content: space-between;
}

div.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 25px;
}

div.box {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  margin-bottom: 5px;
}

div.info > p {
  width: 150px;
  color: #8e8f91;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

section#quote-section {
  padding-top: 100px;
  background-color: #e5e7eb;
  padding-bottom: 100px;
}

div.quote-container {
  padding: 0 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

div.quote-container > p:first-child {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}

div.quote-container > p:last-child {
  font-weight: 700;
}

section.action-container {
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 50px;
}

div.action-elements {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}

div.action-left > p:first-child {
  font-weight: 700;
}

div.action-left > p:last-child {
  font-weight: 100;
  font-size: 12px;
}

div.action-elements > button {
  background-color: #3882f6;
  color: #f9faf8;
  border: 1px solid #f9faf8;
  border-radius: 5px;
  padding: 0px 30px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 12px;
  padding: 50px 0;
}
